@charset "utf-8";

/*Inicio do Index.html*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: #ff6a00;
  color: white;
  padding: 20px;
  text-align: center;
}

.busca {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 10px;
}

.busca input {
  padding: 10px;
  width: 250px;
}

.busca button {
  padding: 10px 15px;
  background: #ff6a00;
  color: white;
  border: none;
  cursor: pointer;
}

#lista-servicos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

#lista-servicos li{
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 14px;
}

#lista-servicos li:last-child{
  border-bottom: none;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
/*Fim do Index.html*/


  /*Inicio do painel de prestadores*/

  .painel-header {
  background: #4f46e5;
  color: #fff;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btnSair {
  background: #ef4444;
  border: none;
  color: #fff;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.painel-container {
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 25px;
  margin: 20px;
}

.perfil, .pedidos {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,.08);
}

.pedidos ul {
  list-style: none;
  margin-top: 10px;

}

.foto-perfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}
/* Fim dos paineis de presdadores / usuarios */

/* Inicio de perfis do usuário / prestador*/
.perfil-container{
  display: flex;
 justify-content: center;
 align-items: center;
 margin: 20px 0;
}


.foto-label{
  position: relative;
  cursor: pointer;
}

.foto-label img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0d6efd;
}

.foto-label span{
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
background: rgba(0,0,0,.6);
color: #fff;
text-align: center;
font-size: 14px;
padding: 4px 8px;
border-radius: 10px;
}
/*Fim dos perfis de usuarios / prestadores*/

/* estilos das abas */

.abas-perfil{
width: 40vw;
height: 50vh;
  background-color: #0d6efd;
}

#Avaliacoes{
  background: #ef4444;
}

.aba {
  display:flex;
justify-self:center;
  padding:15px 25px 15px 25px;
  margin-bottom: 5px;
  border: 5px;
  border-radius: 5px;
  background: #9bc1fa;
}

h3{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
}

#map {
  width: 100%;
  border-radius: 8px;
}

#nota{
  display: flex;
  margin:5px 5px 5px 0px;
  padding: 8px;
}

#btnAvaliar{
  background: #0151a6;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
}

#btnAvaliar:hover{
  background: #003d75;
}


